body{
    font-family: sans-serif;
    margin: 0;
}

#top-navbar {
    background-color: lightgrey;
    /*height: 30px;*/
    text-align: right;
}

/*.navbar-links {*/
.navbar div {
    display: inline-block;
    margin: 10px;
}

.navbar a:link{
    color: green;
    text-decoration: none;
}

.navbar a:visited {
    color: green;
}

.navbar a:hover {
    color: #F2875C;
}

#header{
    background-color: lightgrey;
    height: 150px;
    text-align: center;
}

#header h1 {
    color: #F2875C;
    font-size: 70px;
    margin: 0;
}

#logo-image {
    text-align: center;
    margin: auto;
    margin-top: 50px;
}

#logo-image img{
    max-width:60%;
    height: auto;
}

@media(max-width: 600px) {
    #logo-image img {
        max-width: 30%;
    }
}

#text {
    text-align: center;
    margin-top: 50px;
}

.text-block {
    display: inline-block;
    width: 40%;
    text-align: left;
}

@media(max-width: 600px) {
    .text-block {
        display: block;
        width: 80%;
    }
}

.block-right {
    margin-left: 50px;
}

#bottom-navbar {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}